<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Soaring to new heights!</h1>
      <div class="is-two-thirds column is-paddingless">
        <h2 class="subtitle is-4">Lorem bla bla bla all that stuff bla bla this works pretty good.</h2>
      </div>
      <a class="button is-large is-primary" id="learn">Learn more</a>
    </div>
  </div>
</section>

<section class="section pd">
  <div class="container">
    <div class="columns pd is-desktop">
      <div class="column is-1 has-text-centered">
        <i class="fa fa-cog is-primary"></i>
      </div>
      <div class="column is-one-third-desktop">
        <p class="title">
          <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy </strong>
        </p>
      </div>
      <div class="column">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
          nisl ut aliquip</p>
      </div>
    </div>
  </div>
  <div class="columns pd">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
          <p class="subtitle">Casper Andersen</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
          <p class="subtitle">Casper Andersen</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
          <p class="subtitle">Casper Andersen</p>
        </div>
      </div>
    </div>
  </div>
</section>